@font-face {
  font-family: TitilliumWeb-Regular;
  src: url("../assets/fonts/TitilliumWeb-Regular.svg") format("svg"), url("../assets/fonts/TitilliumWeb-Regular.ttf") format("ttf"), url("../assets/fonts/TitilliumWeb-Regular.woff") format("woff"), url("../assets/fonts/TitilliumWeb-Regular.woff2") format("woff2");
}

@font-face {
  font-family: TitilliumWeb-SemiBold;
  src: url("../assets/fonts/TitilliumWeb-SemiBold.svg") format("svg"), url("../assets/fonts/TitilliumWeb-SemiBold.ttf") format("ttf"), url("../assets/fonts/TitilliumWeb-SemiBold.woff") format("woff"), url("../assets/fonts/TitilliumWeb-SemiBold.woff2") format("woff2");
}

nav {
  width: 100% !important;
  background: #c9d6df;
  background: -webkit-gradient(linear, left top, right top, color-stop(36%, #c9d6df), to(#f0f5f9));
  background: linear-gradient(90deg, #c9d6df 36%, #f0f5f9 100%);
}

.navbar {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  position: relative;
  z-index: 9;
  max-width: 2500px;
  height: 5rem;
}

@media (min-width: 768px) {
  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar__siteTitleLink {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__siteTitle {
  color: #000000;
  font-size: 2rem;
}

@media (min-width: 550px) {
  .navbar__siteTitle {
    margin: 0 auto;
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .navbar__siteTitle {
    padding-left: 2px;
    padding-right: 50px;
  }
}

.navbar__siteLogo {
  width: 4rem;
  height: 4rem;
  padding-right: 5px;
}

@media (min-width: 768px) {
  .navbar__siteLogo {
    padding-left: 24px;
  }
}

@media (min-width: 1430px) {
  .navbar__siteLogo {
    padding-left: 48px;
  }
}

.navbar__menu {
  display: none;
}

@media (min-width: 768px) {
  .navbar__menu {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1150px;
    padding-right: 24px;
  }
}

@media (min-width: 1430px) {
  .navbar__menu {
    padding-right: 48px;
  }
}

.navbar__menuItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__menuIcons {
  color: #69b0fc;
  border-left: solid 1px black;
  padding-left: 5px;
  padding-right: 7px;
  margin-left: 5px;
}

.navbar__barIcon {
  position: absolute;
  left: 24px;
  top: 28%;
  font-size: 2.5rem;
  color: #007AFF;
}

.navbar__barIcon__bar {
  border-left: none;
}

@media (min-width: 768px) {
  .navbar__barIcon {
    display: none;
  }
}

.navbar .menu__ltI {
  border-bottom: none !important;
}

.homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3100px;
}

@media (min-width: 768px) {
  .homepage {
    height: 3350px;
  }
}

@media (min-width: 950px) {
  .homepage {
    height: 1688px;
  }
}

.homepage__heroBanner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(201, 214, 223, 0)), to(rgba(82, 97, 107, 0.95))), url("../assets/images/bannerImg6.png");
  background: linear-gradient(rgba(201, 214, 223, 0), rgba(82, 97, 107, 0.95)), url("../assets/images/bannerImg6.png");
  background-attachment: fixed;
  background-position: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 40vh;
  text-align: center;
  position: relative;
}

@media (min-width: 768px) {
  .homepage__heroBanner {
    height: 600px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.homepage__swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  margin-bottom: -70px;
}

@media (min-width: 768px) {
  .homepage__swiper {
    width: 765px;
    height: 60vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1920px) {
  .homepage__swiper {
    margin-bottom: 0 auto;
  }
}

.homepage__particles {
  position: absolute;
  width: 100vw;
  top: 0%;
  height: 100%;
}

.homepage__cardsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  position: relative;
  top: -1.65%;
  border-radius: 10px;
  border: solid 0.5px #52616b;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(30, 32, 34, 0.5);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(30, 32, 34, 0.5);
  background-color: #f0f5f9;
  margin-bottom: 48px;
  max-width: 1920px;
  z-index: 0;
}

@media (min-width: 768px) {
  .homepage__cardsWrapper {
    top: -1.54%;
  }
}

@media (min-width: 950px) {
  .homepage__cardsWrapper {
    top: -2.8%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 1080px;
  }
}

.homepage__cardsBar {
  height: 50px;
  width: 100%;
  background-color: #c9d6df;
  border-bottom: 0.5px solid #52616b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

.homepage__cardsAll {
  background-image: url("../assets/images/wave5.png");
  background-position: center;
  background-size: 100% 35%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 950px) {
  .homepage__cardsAll {
    height: 2500px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: inherit;
  }
}

.homepage__cards {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #292c2c;
}

@media (min-width: 768px) {
  .homepage__cards {
    height: 100%;
  }
}

.homepage__cardItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homepage__cardItemsTitle {
  padding: 5px;
  font-size: 2.5vw;
  background-color: #cfcfcf;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .homepage__cardItemsTitle {
    font-size: 1.65rem;
  }
}

.homepage__cardItemsBody {
  font-size: 2.5vw;
  height: auto;
  padding: 5px;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .homepage__cardItemsBody {
    font-size: 1.5rem;
    background-color: #cfcfcf;
  }
}

@media (min-width: 950px) {
  .homepage__cardsSmWr {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.homepage__cards--summary {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  bottom: 2.5%;
  z-index: 1;
  margin-top: -2rem;
}

@media (min-width: 950px) {
  .homepage__cards--summary {
    position: absolute;
    top: 92%;
    height: 0;
  }
}

#tsparticles {
  height: inherit;
}

html,
body,
div,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
var,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

Link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

p {
  display: block;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  width: 10rem;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  text-rendering: auto;
  color: black;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #c9d6df;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: none;
  border-radius: 50% 50% 0 0;
  -o-border-image: initial;
     border-image: initial;
  text-decoration: none;
  border-radius: 28px;
  padding: 10px 20px 10px 20px;
}

button:hover {
  color: #50120B;
  cursor: pointer;
}

.savings {
  width: 100%;
  position: relative;
  margin-top: 45px;
}

@media (min-width: 950px) {
  .savings {
    margin: 0;
    width: 30vw;
    max-width: 500px;
  }
}

.savings__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 615px;
  top: 33px;
  padding-top: 0px;
  padding-bottom: 4%;
  left: 5%;
}

@media (min-width: 950px) {
  .savings__form {
    height: 690.8px;
    position: absolute;
    left: 0;
    padding: 0;
    top: 63px;
    width: 100%;
  }
}

@media (min-width: 1150px) {
  .savings__form {
    top: 60px;
  }
}

.savings__formHeading {
  padding-bottom: 10px;
  font-size: 1.85rem;
  padding-top: 32px;
}

@media (min-width: 950px) {
  .savings__formHeading {
    top: -5%;
  }
}

@media (min-width: 1430px) {
  .savings__formHeading {
    top: -0.2%;
  }
}

.savings__formLabel {
  position: relative;
  z-index: 1;
  width: inherit;
  margin-bottom: 48px;
  background-color: transparent;
  left: 2.5%;
  width: 100%;
}

.savings__formLabelDiv {
  z-index: 2;
  background-color: #f0f5f9;
  height: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.savings .savings__form input {
  position: absolute;
  z-index: -1;
  width: 90%;
  top: 9px;
}

.savings__cardImgWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.savings__cardImg {
  width: 300px;
}

@media (min-width: 550px) {
  .savings__cardImg {
    width: 360px;
  }
}

.savings__formButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 85px;
  margin-top: 20px;
}

@media (min-width: 950px) {
  .savings__formButtons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    top: 20%;
  }
}

.savings__formButtons {
  margin: 0 auto;
  width: 10 0%;
}

.savings__button {
  width: 250px;
}

.savings__result--item {
  font-size: 1.5rem;
  color: #007aff;
  font-weight: bold;
  text-align: left;
  line-height: 1.5;
  padding-left: 24px;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .savings__result--item {
    line-height: 2;
    padding-left: 32px;
  }
}

@media (min-width: 950px) {
  .savings__result--item {
    padding-left: 0;
    position: relative;
    top: 19.5%;
    text-align: left;
  }
}

.mtgCalculator {
  position: relative;
  width: 100%;
  height: 900px;
}

@media (min-width: 950px) {
  .mtgCalculator {
    width: 30vw;
    max-width: 500px;
    height: 0px;
  }
}

.mtgCalculator__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 650px;
  top: 35px;
  z-index: 1;
}

@media (min-width: 950px) {
  .mtgCalculator__form {
    position: absolute;
    height: 900px;
    padding: 0;
    width: 100%;
    left: 0;
    top: 77px;
  }
}

.mtgCalculator__cardImgWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mtgCalculator__cardImg {
  width: 300px;
}

@media (min-width: 550px) {
  .mtgCalculator__cardImg {
    width: 360px;
  }
}

@media (min-width: 1150px) {
  .mtgCalculator__cardImg {
    width: 360px;
    max-width: 500px;
  }
}

.mtgCalculator__formLabel {
  position: relative;
  z-index: 1;
  width: inherit;
  margin-bottom: 48px;
  background-color: transparent;
  left: 2.5%;
}

@media (min-width: 950px) {
  .mtgCalculator__formLabel {
    left: 0;
  }
}

.mtgCalculator__formLabel-ml {
  top: -25px;
}

.mtgCalculator__formLabel-ml-l {
  top: -33px;
}

@media (min-width: 950px) {
  .mtgCalculator__formLabel-ml-l {
    top: -35px;
  }
}

@media (min-width: 1150px) {
  .mtgCalculator__formLabel-ml-l {
    top: -35px;
  }
}

.mtgCalculator__formLabelDiv {
  z-index: 2;
  background-color: #f0f5f9;
  height: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.mtgCalculator .mtgCalculator__form input {
  position: absolute;
  z-index: -1;
  width: 90%;
  top: 9px;
}

.mtgCalculator__formHeading {
  padding-bottom: 10px;
  padding-top: 24px;
  font-size: 1.85rem;
}

.mtgCalculator__formButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 85px;
  margin-top: -12px;
}

@media (min-width: 950px) {
  .mtgCalculator__formButtons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    top: -3.5%;
  }
}

.mtgCalculator__button {
  width: 250px;
}

@media (min-width: 950px) {
  .mtgCalculator__button {
    margin-bottom: 0;
  }
}

.mtgCalculator__resultWrapper {
  width: 90%;
  margin-top: -22px;
}

@media (min-width: 950px) {
  .mtgCalculator__resultWrapper {
    position: relative;
    top: -0.5%;
    left: 1.8%;
  }
}

.mtgCalculator__resultItem {
  line-height: 2;
  padding-left: 24px;
  text-align: left;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.5rem;
  color: #007aff;
  font-weight: bold;
}

@media (min-width: 768px) {
  .mtgCalculator__resultItem {
    line-height: 2;
    padding-left: 32px;
  }
}

@media (min-width: 950px) {
  .mtgCalculator__resultItem {
    padding-left: 0;
  }
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  top: 60px;
  right: 0;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: opacity 0.4s ease, visibility 0.4s, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, visibility 0.4s, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s, -webkit-transform 0.4s ease;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(5px) translateX(0px);
          transform: translateY(5px) translateX(0px);
}

.menu ul {
  list-style: none;
  position: absolute;
  background-color: #d7e1e8;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55px;
}

.menu ul li {
  text-align: center;
  border-bottom: 1px solid #dddddd;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu a {
  text-decoration: none;
  color: #333333;
}

.menu-container__resourcesList {
  width: 15vh !important;
  background-color: #dee7ed !important;
}

.summaryResourcesList__items-ltI {
  border-bottom: none !important;
}

.footer {
  width: 100%;
  background-color: #f0f5f9;
  padding-bottom: 24px;
}

.footer__siteHeadingWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  padding-left: 24px;
  border-bottom: solid 1px #52616b;
  background-color: #c9d6df;
}

@media (min-width: 768px) {
  .footer__siteHeadingWrapper {
    padding-left: 24px;
  }
}

@media (min-width: 1430px) {
  .footer__siteHeadingWrapper {
    padding-left: 48px;
  }
}

.footer__siteLogo {
  width: 4rem;
  height: 4rem;
}

.footer__heading {
  font-size: 2.5rem;
  padding-left: 5px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 2500px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 24px;
}

@media (min-width: 750px) {
  .footer__container {
    padding-left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
  }
}

@media (min-width: 1430px) {
  .footer__container {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
}

.footer__listItem {
  padding-top: 12px;
}

.footer__listItemHeading {
  font-size: 1.8rem;
  font-weight: bold;
  padding-bottom: 12px;
}

@media (min-width: 768px) {
  .footer__listItemHeading {
    font-size: 2rem;
    padding-bottom: 20px;
    padding-top: 10px;
  }
}

@media (min-width: 1430px) {
  .footer__listItemHeading {
    padding-right: 48px;
  }
}

.footer__listItemText {
  padding-bottom: 5px;
  font-size: 1.35rem;
  line-height: 1.5;
  font-family: TitilliumWeb-SemiBold;
}

@media (min-width: 750px) {
  .footer__listItemText {
    padding-bottom: 0;
  }
}

@media (min-width: 1150px) {
  .footer__listItemText {
    font-size: 1.55rem;
  }
}

.footer__listItemText-Adrs {
  width: 200px;
}

.footer__listItemIcons {
  color: #69b0fc;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
}

@media (min-width: 768px) {
  .footer__listItemIcons {
    font-size: 3rem;
    width: 200px;
  }
}

* {
  font-family: TitilliumWeb-Regular;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0px auto;
  padding: 0px;
  font-family: TitilliumWeb-Regular;
  font-size: 66.5%;
}

h1,
h2,
h3,
h4,
h5 {
  color: black;
  font-weight: bold;
}

label {
  color: black;
}

ul {
  list-style: none;
}

a {
  height: 0px;
  color: #1e2022;
}

button {
  font-weight: 700;
}

form h2 {
  padding-bottom: 10px;
  font-size: 1.85rem;
  line-height: 1;
}

@media (min-width: 950px) {
  form h2 {
    font-size: 2rem;
  }
}

form label {
  font-size: 1.5rem;
}

label {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 1.5rem;
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f5f9;
}

input {
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 9px -4px #000000;
          box-shadow: 0px 1px 9px -4px #000000;
  border: #25282d solid 1px;
  height: 30px;
  background-color: #f0f5f9;
}

.particles {
  height: 60vh;
}

.result {
  color: black;
}

.app-container {
  background-color: #f9f8f7;
}

.pageWrapper {
  position: relative;
}

.info {
  color: #007aff;
  font-weight: 700;
  margin-left: 5px;
}

.info:hover {
  cursor: pointer;
}

.buttons {
  color: #1e2022;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 768px) {
  .buttons {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

.buttons__item {
  width: 10rem !important;
  height: 2rem;
}

.docsRates {
  max-width: 1980px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-top: 115px;
  height: 900px;
}

@media (min-width: 950px) {
  .docsRates {
    margin-top: 0;
    width: 30vw;
    max-width: 500px;
  }
}

.docsRates__formHeading {
  margin-top: -14px;
}

@media (min-width: 950px) {
  .docsRates__formHeading {
    margin-top: 0;
  }
}

@media (min-width: 950px) {
  .docsRates__formWr {
    position: relative;
    top: 2%;
  }
}

.docsRates__form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  position: relative;
  top: 6%;
  height: 200px;
}

@media (min-width: 950px) {
  .docsRates__form {
    position: absolute;
    padding-left: 0;
    height: 430px;
    left: 0;
    padding-top: 44px;
    top: 11%;
  }
}

@media (min-width: 1150px) {
  .docsRates__form {
    top: 8%;
  }
}

.docsRates__cardImgWrapper {
  position: relative;
  top: -15%;
  left: -12%;
  width: 360px;
  margin: 0 auto;
}

@media (min-width: 950px) {
  .docsRates__cardImgWrapper {
    left: -50px;
    top: -4.5%;
  }
}

.docsRates__cardImg {
  width: 300px;
}

@media (min-width: 550px) {
  .docsRates__cardImg {
    width: 360px;
  }
}

@media (min-width: 950px) {
  .docsRates__cardImg {
    position: relative;
    top: 20px;
    width: 320px;
    max-width: 500px;
    top: -30px;
  }
}

@media (min-width: 1150px) {
  .docsRates__cardImg {
    width: 360px;
    max-width: 500px;
    position: relative;
  }
}

.docsRates__formHeading {
  padding-bottom: 10px;
  font-size: 1.85rem;
  padding-top: 24px;
}

.docsRates__formHeading2 {
  width: 100%;
  position: relative;
  top: -10%;
  text-align: left;
  margin-left: -5px;
}

@media (min-width: 768px) {
  .docsRates__formHeading2 {
    margin-left: -7px;
  }
}

@media (min-width: 950px) {
  .docsRates__formHeading2 {
    padding-left: 7.5px;
    top: -15.2%;
    padding-bottom: 10px;
    font-size: 1.85rem;
    padding-top: 24px;
    margin-left: 10px;
  }
}

.docsRates .docsRates__form label {
  font-family: TitilliumWeb-SemiBold;
  font-size: 1.75rem;
  position: relative;
  height: 75px;
  width: 298px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: -7%;
  background-color: transparent;
  margin-left: -4px;
}

@media (min-width: 768px) {
  .docsRates .docsRates__form label {
    margin-left: -8px;
  }
}

@media (min-width: 950px) {
  .docsRates .docsRates__form label {
    top: -13.8%;
    height: 40px;
    width: 270px;
    margin-left: 16px;
  }
}

.docsRates .docsRates__form input {
  /* Double-sized Checkboxes */
  /* IE */
  /* FF */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  /* Opera */
  transform: scale(1.5);
  padding: 10px;
  margin-left: 50px;
  z-index: 1;
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.docsRates__ternaryWrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: -5px;
  padding-right: 12px;
  font-size: 1.4rem;
  line-height: 1.5;
  max-height: 400px;
  top: -5.8%;
  text-align: left;
  width: 100%;
}

@media (min-width: 411px) {
  .docsRates__ternaryWrapper {
    font-size: 1.55rem;
  }
}

@media (min-width: 768px) {
  .docsRates__ternaryWrapper {
    margin-left: -8px;
  }
}

@media (min-width: 950px) {
  .docsRates__ternaryWrapper {
    margin-left: 16px;
    top: -9.2%;
    font-size: 1.5rem;
  }
}

@media (min-width: 950px) {
  .docsRates__ternaryWrapper li {
    font-size: 1.55rem;
  }
}

.docsRates__listSalaried {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: inherit;
}

@media (min-width: 950px) {
  .docsRates__listSalaried {
    position: relative;
    top: -5.2%;
  }
}

.docsRates__listSelfEmp {
  position: relative;
  top: 0%;
}

@media (min-width: 950px) {
  .docsRates__listSelfEmp {
    top: -9%;
  }
}

.docsRates__btnWr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 950px) {
  .docsRates__btnWr {
    position: absolute;
    top: 166.8%;
    left: 0%;
  }
}

@media (min-width: 1150px) {
  .docsRates__btnWr {
    top: 171.4%;
  }
}

.docsRates__button {
  position: absolute;
  top: 348%;
  width: 250px;
}

.modal {
  padding: 24px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #007aff;
  width: 60vw;
  border-radius: 4px;
  line-height: 2;
  border: solid black .5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.55rem;
  z-index: 2;
  font-family: TitilliumWeb-SemiBold;
  text-align: left;
}

.modal:after {
  position: absolute;
  left: -50%;
  content: "";
  background-color: #c9d6df;
  position: absolute;
  width: 200%;
  height: 500vw;
  opacity: .8;
  z-index: -1;
}

@media (min-width: 768px) {
  .modal:after {
    height: 200vw;
  }
}

.modal__link {
  color: black;
  font-weight: bold;
  font-style: italic;
  -webkit-text-decoration: underline dotted !important;
          text-decoration: underline dotted !important;
}

.modal__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 550px;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal__button {
  max-width: 300px;
  width: 20vw;
  margin: 0 auto;
  margin-top: 16px;
}

.modal p {
  line-height: 32px;
  margin: 32px 0;
}

@media (min-width: 768px) {
  .swiperHeading {
    margin-bottom: 125px;
  }
}

.swiperHeading__heading {
  color: #dee6eb;
  position: relative;
  margin: 0 auto;
  font-size: 2.3rem;
  margin-top: 12px;
}

@media (min-width: 768px) {
  .swiperHeading__heading {
    margin-top: 0;
    font-size: 5.5rem;
  }
}

.swiper-container {
  width: 100%;
}

@media (min-width: 768px) {
  .swiper-container {
    width: 50vw;
    position: relative;
    top: -22%;
  }
}

@media (min-width: 1430px) {
  .swiper-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.swiper-wrapper {
  width: 100%;
  height: 300px !important;
}

.slideHeading {
  color: #dee6eb;
  font-size: 1.5rem;
  margin-top: 24px;
}

@media (min-width: 768px) {
  .slideHeading {
    margin-top: 0px;
    font-size: 2.75rem;
  }
}

.swiperButton {
  height: 3rem;
  border-radius: 6px;
  background-color: #c9d6df;
  color: #1e2022;
  position: absolute;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 36%;
}

@media (min-width: 360px) {
  .swiperButton {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .swiperButton {
    position: abs;
    font-size: 1.5rem;
    width: 13rem;
    top: 62%;
    height: 3.5rem;
  }
}

.swiperButton:hover {
  background-color: #52616b;
  color: white;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem !important;
  color: #dee6eb !important;
  opacity: 1 !important;
  position: relative;
  top: -60%;
}

@media (min-width: 768px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    top: 120%;
    font-size: 5.5rem !important;
  }
}

@media (min-width: 2500px) {
  .swiper-button-next::after {
    position: absolute;
    left: -00%;
  }
}

@media (min-width: 3000px) {
  .swiper-button-next::after {
    left: -240px;
    margin-right: 0px;
  }
}

@media (min-width: 2500px) {
  .swiper-button-prev::after {
    position: absolute;
  }
}

@media (min-width: 3000px) {
  .swiper-button-prev::after {
    right: -240px;
  }
}

.swiper-pagination {
  bottom: 130px !important;
}

@media (min-width: 768px) {
  .swiper-pagination {
    position: absolute;
    top: 94%;
  }
}

.summary {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.55rem;
  background-size: cover;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.summary__listContainer {
  line-height: 1.5;
  width: 45%;
  padding-left: 6px;
  padding-right: 24px;
  line-height: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.summary__listContainer ul {
  padding-top: 5px;
}

.summary__resourcesListContainer {
  width: 50%;
  padding-left: 6px;
  line-height: 2;
}

.summary__resourcesListContainer ul {
  padding-top: 15px;
}

.summary__resourcesListContainer ul h5 {
  padding-top: 10px;
}

.summary__items {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  line-height: 1.6;
}

.summary__items-docs {
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.summary__iNm-docs {
  margin-top: -5px;
  margin-right: 5px;
}

.summary__summaryItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 4;
  bottom: -50px;
}

@media (min-width: 950px) {
  .summary__summaryItems {
    bottom: -75px;
  }
}

.summary__list {
  background-color: #f0f5f9;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
  position: absolute;
  bottom: 30%;
  height: 1200px;
  width: 30rem;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 500px;
}

@media (min-width: 411px) {
  .summary__list {
    width: 90vw;
  }
}

@media (min-width: 950px) {
  .summary__list {
    bottom: 0%;
    height: 1020px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 15px;
  }
}

@media (min-width: 1192px) {
  .summary__list {
    bottom: -100%;
  }
}

.summary__list:before {
  content: "";
  background-color: #007aff;
  position: absolute;
  border-radius: 5px;
  width: 200vw;
  height: 2703px;
  z-index: -2;
  bottom: -3.4%;
  margin-left: -10rem;
  opacity: 0.4;
  left: -50%;
}

@media (min-width: 950px) {
  .summary__list:before {
    width: 1000vw;
    height: 1035px;
    bottom: -0.5%;
    left: -1000%;
  }
}

.summary__shwBtn {
  position: relative;
  left: 7px;
  width: 250px;
  margin: 0 auto;
}

@media (min-width: 950px) {
  .summary__shwBtn {
    left: 5px;
  }
}

.summary__clsBtn {
  position: relative;
  bottom: 80px;
  z-index: 2;
  width: 250px;
  margin-left: 9px;
  z-index: 5;
}

@media (min-width: 950px) {
  .summary__clsBtn {
    top: -30px;
  }
}

@media (min-width: 1192px) {
  .summary__clsBtn {
    position: relative;
    right: 25%;
    top: 5px;
  }
}
/*# sourceMappingURL=App.css.map */