// To override Bootstrap's inbuilt styling
button {
  width: 10rem;
  
  appearance: button;
  text-rendering: auto;
  color: black;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  align-items: flex-start;
  
  background-color: #c9d6df;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: none;
  border-radius: 50% 50% 0 0;
  border-image: initial;
  text-decoration: none;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  padding: 10px 20px 10px 20px;
  &:hover{
    color:$headings;
    cursor: pointer;
  }
}
