nav{
  width: 95% !important;
  height: 0;
   

  
  
}
.navbar {
  transform: translate(2.5%, 0px);
  background: linear-gradient(90deg, rgba(201,214,223,1) 36%, rgba(240,245,249,1) 100%);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-weight: bold;
  position: relative;
  z-index: 9;
  max-width:1920px;
  height: 5rem;
  @include tab-s {
    justify-content: space-between;
    align-items: center;
  }
  &__siteTitleLink {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__siteTitle {
    color: #000000;
    font-size: 2rem;
    @include ph-l {
      margin: 0 auto;
      font-size: 2.5rem;
    }
    @include tab-s {
      padding-left: 2px;
      padding-right: 50px;
    }
  }
&__siteLogo{
  width: 4rem;
  height: 4rem;
  padding-right: 5px;
  @include tab-s {
    padding-left: 24px;
  }
  @include desktop-m{
    padding-left: 48px;
  }
}
  &__menu {
    display: none;
    @include tab-s {
      font-size: 1.5rem;
      display: flex;
      width: 40%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-width: $desktop-s-breakpoint;
      padding-right:24px;
    }
    @include desktop-m{
      padding-right: 48px;
    }
  }
  &__menuItems{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__menuIcons{
    color:#69b0fc;
    border-left: solid 1px black;
    padding-left: 5px;
    padding-right:7px;
    margin-left: 5px;
  }
  &__barIcon{
    position: absolute;
    left:24px;
    top: 28%;
    font-size: 2.5rem;
    color:#007AFF;
    &__bar{
      border-left: none;
    }
    @include tab-s{
      display: none;
    }
  }
  .menu__ltI{
    border-bottom: none !important;
  }
}
