$background:#f9f8f7;
$nav:#f3f1ef;
$headings:#50120B;

$ph-xs-breakpoint:360px;
$ph-m-breakpoint:411px;
$ph-l-breakpoint:550px;
$ph-xl-breakpoint:750px;
$tab-s-breakpoint:768px;
$tab-m-breakpoint:950px;
$desktop-s-breakpoint:1150px;
$desktop-sm-breakpoint:1192px;
$desktop-m-breakpoint:1430px;
$desktop-l-breakpoint:1920px;
$desktop-xl-breakpoint:2500px;
$desktop-xxl-breakpoint:3000px

